@import 'navbar';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: $light;
}
//-- hero section
.hero{
    height: calc(90vh - 4.3rem);
    &_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        // overflow: hidden;    
        margin: 0 auto ;
        width: 100%;
        max-width: 1200px;

        @include tablet{
            grid-template-columns: 1fr;
            height: 100%;
        }

        &--left{
            width: 100%;
            line-height: 1.2;
            padding-left: 3rem;

            @include tablet{
                padding: 5rem;
                // justify-content: center;
            }

            @include mobile{
                line-height: 1.5;
            }
        }

        &--left h1{
            font-size: 3rem;
            color: $yellow;

            @include mobile{
                font-size: 1.5rem;
            }
        }

        &--left h2{
            font-size: 3rem;
            color: $dark;

            @include mobile{
                font-size: 1.5rem;
            }
        }

        &--left p{
            font-size: 1rem;
            color: $dark;
            margin-top: 1rem;
            font-weight: 200;

            @include mobile{
                font-size: 1.5rem;
            }
        }

        &--btn{
            z-index: 1;
            font-size: 1rem;
            background-color: $yellow;
            padding: 14px 32px;
            border: none;
            border-radius: 4px;
            margin-top: 2rem;
            cursor: pointer;
            outline: none;
            position: relative;

            &:hover{
                background-color: $red;
                transition: all .3s ;
            }
        }

        &--btn a{
            color: $light;
            text-decoration: none;
            position: relative;
            z-index: 2;
        }

        &--btn:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $red;
            transition: all .3s;
            border-radius: 4px;

        }

        &--btn:hover:after{
            width: 100%;
        }

        &--right{
            @extend %align-center;
            justify-content: center;
            // background-color: red;
            img{
               height: 100%;
               width: 100%;
            }
        }
    }
}