.hero_container--right, .navbar_menu, .navbar_logo {
  display: flex;
  align-items: center;
}

.navbar {
  height: 4.3rem;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1100px) / 2);
}
.navbar_logo {
  color: #222121;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 24px;
  text-decoration: none;
}
.navbar_bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar_bars {
    opacity: 1;
    position: absolute;
    top: 15px;
    right: 28px;
    font-size: 2rem;
    color: #222121;
  }
}
.navbar_menu {
  list-style: none;
  text-align: center;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
}
.navbar_menu--links {
  color: #222121;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar_menu--links:hover {
  color: #f5c32c;
  transition: all 0.3s ease;
}
.navbar_menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #f5c32c;
  margin: 0 16px;
  color: #f7f7f7;
}
.navbar_menu #button:hover {
  background: #fb4b4e;
  transition: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-color: #f7f7f7;
}
.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 90vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .hero_container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero_container--left {
  width: 100%;
  line-height: 1.2;
  padding-left: 3rem;
}
@media screen and (max-width: 768px) {
  .hero_container--left {
    padding: 5rem;
  }
}
@media screen and (max-width: 280px) {
  .hero_container--left {
    line-height: 1.5;
  }
}
.hero_container--left h1 {
  font-size: 3rem;
  color: #f5c32c;
}
@media screen and (max-width: 280px) {
  .hero_container--left h1 {
    font-size: 1.5rem;
  }
}
.hero_container--left h2 {
  font-size: 3rem;
  color: #222121;
}
@media screen and (max-width: 280px) {
  .hero_container--left h2 {
    font-size: 1.5rem;
  }
}
.hero_container--left p {
  font-size: 1rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 200;
}
@media screen and (max-width: 280px) {
  .hero_container--left p {
    font-size: 1.5rem;
  }
}
.hero_container--btn {
  z-index: 1;
  font-size: 1rem;
  background-color: #f5c32c;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
  position: relative;
}
.hero_container--btn:hover {
  background-color: #fb4b4e;
  transition: all 0.3s;
}
.hero_container--btn a {
  color: #f7f7f7;
  text-decoration: none;
  position: relative;
  z-index: 2;
}
.hero_container--btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fb4b4e;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero_container--btn:hover:after {
  width: 100%;
}
.hero_container--right {
  justify-content: center;
}
.hero_container--right img {
  height: 500px;
}/*# sourceMappingURL=style.css.map */